.infill {
    background-color: #cc2b41;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin-right: auto;
    margin-left: 10px;
}