.preview {
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
}

.btn-file {
  background-color: #992bcc;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-submit {
  background-color: #4cc34c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .preview {
    flex-direction: column;
  }
  .mat_infill{
    flex-direction: column;
  }
}

.mat_infill {
  display: flex;
  flex-direction: row;
}

.preview_detail {
  flex: 50%;
  background-color:lightskyblue;
  text-align: center;
}

.preview_model {
  width: 400px;
  height: 400px;
  background-color: lightgray;
}